@import url("https://fonts.googleapis.com/css2?family=Abel&family=Yanone+Kaffeesatz:wght@500&family=Zen+Kurenaido&display=swap");

.xsmall {
  font-size: 12px;
  font-family: "Abel", sans-serif;
}
.small {
  font-size: 15px;
  font-family: "Abel", sans-serif;
}

.medium {
  font-size: 23px;
  font-family: "Zen Kurenaido", sans-serif;
}

.large {
  font-size: 50px;
  font-family: "Zen Kurenaido", sans-serif;
}

.title {
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
