.footer {
  background-color: #f4f4f4;
  padding: 40px 0px;
}

.footer__inner {
  max-width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  width: 25px;
  margin-right: 3px;
}

.footer__left {
}

.footer__right {
  display: flex;
  flex-direction: row;
}
